{% extends 'base.html.twig' %}

{% block title %}Edit Course{% endblock %}

{% block body %}
    <h1>Edit Course</h1>

    {{ include('course/_form.html.twig', {'button_label': 'Update', 'form': form}) }}

    <a href="{{ path('index_course', {'idA': admin_id}) }}">back to list</a>

    {{ include('course/_delete_form.html.twig') }}
{% endblock %}
