{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau QCM{% endblock %}

{% block body %}
    <h1>Créer un nouveau QCM</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.course) }}

    {{ form_end(form) }}
{% endblock %}

