<!DOCTYPE html>
<html>
<head>
    <title>Confirmation</title>
</head>
<body>
    <h1>Confirmation</h1>
    <p>Votre QCM a été soumis avec succès. Merci!</p>
    
    <!-- Autres informations de confirmation ou redirection peuvent être ajoutées ici -->
</body>
</html>
