{% extends 'base.html.twig' %}

{% block title %}Edit Lesson{% endblock %}

{% block body %}
    <h1>Edit Lesson</h1>

    {{ include('lesson/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('index_lesson', {'idA': admin_id, 'idC': course_id}) }}">back to list</a>

    {{ include('lesson/_delete_form.html.twig') }}
{% endblock %}
